@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hero {
  background: linear-gradient(157.25deg, #ffffff 3.62%, #fafafa 88.02%);
  background-color: #ffffff;
  background-image: radial-gradient(circle at center center, #f0f0f0, #ffffff),
    repeating-radial-gradient(
      circle at center center,
      #f0f0f0,
      #f0f0f0,
      4px,
      transparent 8px,
      transparent 4px
    );
  background-blend-mode: multiply;
}
